*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #faebd7;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.app{
    display: inline-block;
    perspective: 1000px;
    position: relative;
    background: #ffced1;
    color: #333;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    border-radius: 11px;
    padding: 0 22px;
    width: 450px;
    height: 60%;
    margin: auto;
    transition-duration: 0.6s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
}

.app .back ,
.app .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    padding: 10px;
    transform: rotateX(0deg);
}

.app .front{
    z-index: 3;
}

.app .back{
    transform: rotateY(-180deg);
}

.flip{
    transform: rotateY(180deg);
}

.ret{
    position: relative;
    left: -450px;
    transition: 0.5s ease-in-out;
    visibility: hidden;
}

.active{
    left: 0;
    visibility: visible !important;
}

.headline {
    align-self: center;
    justify-self: center;
    font-size: 2em;
}

.holder{
    width: 100%;
    height: 38%;
    font-size: 1.2em;
}

.rmv{
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 0.5em;
    cursor: pointer;
    color: #333;
    transition: 0.3s;

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    text-align: center;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: #fff6f6;
    color: #444;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: auto;
    text-align: center;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #ffedee;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #444;
}

h1{
    font-size: 36px;
}

figure{
    width: 100%;
    height: 40%;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #b1b1b1; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #b1b1b1; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #b1b1b1; 
    font-family: 'Oswald', sans-serif;

} 
.loadingOn{
    background-color: #ffced14d;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
}

.lds-ripple div {
    position: absolute;
    border: 50px solid #fc8b92;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 1.58, 1, -0.97) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@media screen and (max-width: 600px) {
    .app{
        width: 90%;
        height: 90%;
    }
    .headline{
        font-size: 1.5em;
    }
    .holder{
        height: 50%;
    }
    .form{
        font-size: xx-large;
    }
    input{
        width: 100%;
        height: 40px;
        font-size: 1em;
    }
    label{
        font-size: 1em;
    }
    .lds-ripple {
        width: 64px;
        height: 64px;
    }
    .lds-ripple div {
        border: 25px solid #fc8b92;
    }
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.footer {
    margin: 10px;
    grid-area: ft;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 30px;
    border-top: #333 solid 2px;
    padding: 10px;

    a {
        text-decoration: none;
        color: #333;
    }

    p {
        margin: 0;
        color: #333;
    }
}


.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.twitter,
.linkedin,
.github {
    transition: color 0.2s;
}

.twitter:hover {
    color: rgb(29 155 240);
}

.linkedin:hover {
    color: rgb(44 155 255);
}

.github:hover {
    color: rgb(77, 77, 77)
}